#include "midpres.h"

12 BITMAP "tbar.bmp"

MAINMENU MENU

BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...\tCtrl+O", MENU_FILE_OPEN
        MENUITEM "&Close", MENU_FILE_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "Change &Directory...", MENU_FILE_CHDIR
        MENUITEM "Add files to &Playlist...", MENU_FILE_PLAYLIST
        MENUITEM SEPARATOR
        MENUITEM "&Save Playlist...", MENU_FILE_PLAYLIST_SAVE
        MENUITEM "Open Playlist...", MENU_FILE_PLAYLIST_OPEN
        MENUITEM SEPARATOR
        MENUITEM "E&xit", MENU_FILE_EXIT
    END

    POPUP "&Playing"
    BEGIN
        MENUITEM "&Next Position\tCtrl+.", MENU_PLAYING_NEXTPOSITION
        MENUITEM "&Prev. Position\tCtrl+,", MENU_PLAYING_PREVPOSITION
        MENUITEM "&Center Channels\tCtrl-E", MENU_PLAYING_CENTERCHANNELS
        MENUITEM "&List Instruments", MENU_PLAYING_LIST_INSTRUMENTS
        MENUITEM "&Filter\tCtrl-F", MENU_PLAYING_FILTER
    END

    POPUP "&Options"
    BEGIN
        MENUITEM "&Preferences", MENU_OPTIONS_PREFERENCES
        MENUITEM "&Sound Options", MENU_OPTIONS_SOUND
        MENUITEM SEPARATOR
        MENUITEM "S&ave Window Arrangement", MENU_OPTIONS_SAVE_WIN
        MENUITEM "&Restore Window Arrangement", MENU_OPTIONS_RESTORE_WIN
    END

    POPUP "&Views"
    BEGIN
        MENUITEM "&Song Information", MENU_VIEWS_SONGINFO
        MENUITEM "&Instrument List", MENU_VIEWS_INSTLIST
        MENUITEM "&Echo Effects",               MENU_VIEWS_ECHOEFFECTS
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About", MENU_HELP_ABOUT
    END
END



SOUNDOPTIONS DIALOG 91, 89, 142, 87
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | 0xC4
CAPTION "Sound Options"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", SOUNDOPTIONS_MIXRATE, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 52, 4, 46, 51
	CONTROL "Stereo", SOUNDOPTIONS_STEREO, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 22, 37, 12
	CONTROL "8-bit", SOUNDOPTIONS_8BIT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 38, 28, 12
    CONTROL         "Oversampling",SOUNDOPTIONS_OVERSAMPLING,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,4,54,82,12
	EDITTEXT SOUNDOPTIONS_BUFFERSIZE, 52, 54, 46, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	EDITTEXT SOUNDOPTIONS_BUFFERBLOCKS, 52, 70, 46, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON "OK", IDOK, 104, 4, 33, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 104, 22, 33, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Buffer Size:", -1, 4, 54, 39, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Buffer Blocks:", -1, 4, 70, 47, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Mixing Rate:", -1, 4, 4, 43, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

SONGINFO DIALOG 27, 33, 200, 54
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | 0xC4
CAPTION "Song Information"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT "Song:", -1, 4, 4, 23, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Composer:", -1, 4, 20, 35, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", SONGINFO_SONG, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 3, 106, 12
	CONTROL "", SONGINFO_COMPOSER, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 20, 106, 12
	LTEXT "Comment:", -1, 4, 36, 34, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", SONGINFO_COMMENT, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 36, 106, 12
	PUSHBUTTON "Close", IDCANCEL, 164, 4, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Save", SONGINFO_SAVE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 164, 22, 32, 14
END

PREFERENCES DIALOG 48, 75, 256, 126
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preferences"
FONT 8, "MS Sans Serif"
{
 CONTROL "", PREFERENCES_DEFAULTDIR, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64,4,128,12
 CONTROL "Open views as child windows", PREFERENCES_VIEWSCHILDREN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 4, 82, 154, 12
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208,4,36,14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208,22,36,14
 CONTROL "Default Directory:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4,4,56,8
 CONTROL "Unzip Directory:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4,22,56,8
 CONTROL "", PREFERENCES_UNZIPDIR, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64,22,128,12
 CONTROL "Default Stereo Separation:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 64, 88, 8
 CONTROL "", PREFERENCES_DEFAULTSTEREOSEPARATION, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 96, 64, 32, 12
 CONTROL "Run UnZip minimized", PREFERENCES_UNZIPMINI, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 100, 154, 12, 0
 CONTROL "", PREFERENCES_DEFPLIST, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 40, 128, 12, 0
 CONTROL "Default Playlist:", -1, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 40, 56, 8, 0
}

ECHOEDITOR DIALOG DISCARDABLE  33, 18, 232, 221
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION |
    WS_SYSMENU
CAPTION "Echo Effect Editor"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        ECHOEDITOR_EFFECTNAME,60,16,100,60,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    EDITTEXT        ECHOEDITOR_NUMECHOES,56,36,28,14,ES_AUTOHSCROLL |
                    ES_NUMBER
    EDITTEXT        ECHOEDITOR_GAINEDIT,128,36,32,14,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_FEEDBACKEDIT,56,56,32,14,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_DELAY1,16,108,32,12,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_GAIN1,56,108,32,12,ES_AUTOHSCROLL
    CONTROL         "",ECHOEDITOR_REVERSE1,"Button",BS_AUTOCHECKBOX |
                    BS_VCENTER | WS_TABSTOP,96,108,12,12
    COMBOBOX        ECHOEDITOR_FILTER1,112,108,48,44,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    EDITTEXT        ECHOEDITOR_DELAY2,16,120,32,12,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_GAIN2,56,120,32,12,ES_AUTOHSCROLL
    CONTROL         "",ECHOEDITOR_REVERSE2,"Button",BS_AUTOCHECKBOX |
                    BS_VCENTER | WS_TABSTOP,96,120,8,12
    COMBOBOX        ECHOEDITOR_FILTER2,112,120,48,44,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    EDITTEXT        ECHOEDITOR_DELAY3,16,132,32,12,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_GAIN3,56,132,32,12,ES_AUTOHSCROLL
    CONTROL         "",ECHOEDITOR_REVERSE3,"Button",BS_AUTOCHECKBOX |
                    BS_VCENTER | WS_TABSTOP,96,132,8,12
    COMBOBOX        ECHOEDITOR_FILTER3,112,132,48,44,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    EDITTEXT        ECHOEDITOR_DELAY4,16,144,32,12,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_GAIN4,56,144,32,12,ES_AUTOHSCROLL
    CONTROL         "",ECHOEDITOR_REVERSE4,"Button",BS_AUTOCHECKBOX |
                    BS_VCENTER | WS_TABSTOP,96,144,8,12
    COMBOBOX        ECHOEDITOR_FILTER4,112,144,48,44,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    EDITTEXT        ECHOEDITOR_DELAY5,16,156,32,12,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_GAIN5,56,156,32,12,ES_AUTOHSCROLL
    CONTROL         "",ECHOEDITOR_REVERSE5,"Button",BS_AUTOCHECKBOX |
                    BS_VCENTER | WS_TABSTOP,96,156,8,12
    COMBOBOX        ECHOEDITOR_FILTER5,112,156,48,44,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    EDITTEXT        ECHOEDITOR_DELAY6,16,168,32,12,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_GAIN6,56,168,32,12,ES_AUTOHSCROLL
    CONTROL         "",ECHOEDITOR_REVERSE6,"Button",BS_AUTOCHECKBOX |
                    BS_VCENTER | WS_TABSTOP,96,168,8,12
    COMBOBOX        ECHOEDITOR_FILTER6,112,168,48,44,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    EDITTEXT        ECHOEDITOR_DELAY7,16,180,32,12,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_GAIN7,56,180,32,12,ES_AUTOHSCROLL
    CONTROL         "",ECHOEDITOR_REVERSE7,"Button",BS_AUTOCHECKBOX |
                    BS_VCENTER | WS_TABSTOP,96,180,8,12
    COMBOBOX        ECHOEDITOR_FILTER7,112,180,48,44,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    EDITTEXT        ECHOEDITOR_DELAY8,16,192,32,12,ES_AUTOHSCROLL
    EDITTEXT        ECHOEDITOR_GAIN8,56,192,32,12,ES_AUTOHSCROLL
    CONTROL         "",ECHOEDITOR_REVERSE8,"Button",BS_AUTOCHECKBOX |
                    BS_VCENTER | WS_TABSTOP,96,192,8,12
    COMBOBOX        ECHOEDITOR_FILTER8,112,192,48,44,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Close",IDCANCEL,176,4,50,14
    DEFPUSHBUTTON   "&Apply",ECHOEDITOR_APPLY,176,24,50,14
    PUSHBUTTON      "&New",ECHOEDITOR_NEW,176,44,50,14
    PUSHBUTTON      "&Delete",ECHOEDITOR_DELETE,176,64,50,14
    PUSHBUTTON      "&Save",ECHOEDITOR_SAVE,176,84,50,14
    PUSHBUTTON      "&Rename...",ECHOEDITOR_RENAME,176,104,50,14
    PUSHBUTTON      "+",ECHOEDITOR_ADDECHOBUTTON,84,36,6,6,BS_CENTER |
                    BS_VCENTER | NOT WS_TABSTOP
    PUSHBUTTON      "-",ECHOEDITOR_DELECHOBUTTON,84,44,6,6,BS_CENTER |
                    BS_VCENTER | NOT WS_TABSTOP
    RTEXT           "Effect Name:",ECHOEDITOR_EFFECTNAMETEXT,12,16,44,8
    LTEXT           "Delay (ms)",ECHOEDITOR_DELAYTEXT,16,92,34,8
    RTEXT           "Echoes:",ECHOEDITOR_ECHOESTEXT,20,36,31,8
    CTEXT           "Gain",ECHOEDITOR_GAINTEXT,60,92,24,8
    LTEXT           "Feedback:",ECHOEDITOR_FEEDBACKTEXT,16,56,35,8
    LTEXT           "Rvs.Ch.",ECHOEDITOR_REVERSECHANNELSTEXT,88,92,28,8
    GROUPBOX        "Effect Information",ECHOEDITOR_EFFECTSETUPGROUP,8,4,160,
                    72
    GROUPBOX        "Echoes",ECHOEDITOR_ECHOESGROUP,8,80,160,132
    RTEXT           "Gain:",ECHOEDITOR_TOTALGAINTEXT,100,36,22,8
    LTEXT           "Filter",ECHOEDITOR_FILTERTEXT,124,92,16,8
END

ECHORENAME DIALOG DISCARDABLE  0, 0, 186, 45
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION |
    WS_SYSMENU
CAPTION "Rename Echo Effect"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        ECHORENAME_NAME,8,12,116,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,129,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,24,50,14
END

MAINACCELERATORS ACCELERATORS MOVEABLE PURE
BEGIN
    "^O",           MENU_FILE_OPEN,         ASCII
    "^E",           MENU_PLAYING_CENTERCHANNELS, ASCII
    "^F",           MENU_PLAYING_FILTER,    ASCII
    190,            MENU_PLAYING_NEXTPOSITION, VIRTKEY, CONTROL
    188,            MENU_PLAYING_PREVPOSITION, VIRTKEY, CONTROL
END

PREFERENCES_OLD DIALOG 5, 19, 248, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | 0xC4
CAPTION "Preferences"
FONT 8, "MS Sans Serif"
BEGIN
	EDITTEXT PREFERENCES_DEFAULTDIR, 64, 4, 128, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "Open views as child windows", PREFERENCES_VIEWSCHILDREN, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 40, 154, 12
	DEFPUSHBUTTON "OK", IDOK, 211, 4, 33, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 211, 22, 33, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	RTEXT "Default Directory:", -1, 4, 4, 56, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	RTEXT "Unzip Directory:", -1, 4, 22, 56, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT PREFERENCES_UNZIPDIR, 64, 22, 128, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
END

MIDP_ICON ICON "midpnt.ico"
me   bitmap me001.bmp

About DIALOG 10, 18, 160, 92
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "О программе"
{
 CONTROL "АО ""Царицыно"" (C) 1995-97", 103, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 59, 44, 93, 8
 CONTROL "Ok", 101, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 59, 24, 14
 CONTROL "Edit1", 102, "edit", ES_CENTER | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 59, 7, 89, 29, WS_EX_STATICEDGE
}
